@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

#auth-view {
  background-color: #AFD4C0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#auth-login-mid {
  background-color: #e8f4ee;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#auth-login-content {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#auth-logo {
  width: auto;
  height: auto;
  position: relative;
  bottom: 100px;
}

.auth-input {
  background-color: #e8f4ee;
  border-color: #AFD4C0;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  margin-bottom: 15px;
}

#auth-input-section {
  width: 60%;
}

.auth-input-name {
  margin-left: 15px;
  margin-bottom: 5px;
}

#auth-buttons {
  width: 225px;
  display: flex;
  justify-content: space-between;
}

#auth-login-button {
  background-color: #8aea92;
  width: 100px;
  height: 30px;
  font-weight: 700;
  border-radius: 3px;
}
#auth-register-button {
  background-color: #3b5249;
  color: #F6F0F0;
  width: 100px;
  height: 30px;
  font-weight: 700;
  border-radius: 3px;
}